services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq-container
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      - RABBITMQ_DEFAULT_USER=guest
      - RABBITMQ_DEFAULT_PASS=guest
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "-q", "check_running"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 120s

  weather-sender:
    build: ./weather-script
    container_name: weather-script
    env_file:
      - .env
    environment:
      - RABBITMQ_HOST=rabbitmq
    depends_on:
      rabbitmq:
        condition: service_healthy

  logstash:
    image: logstash:8.10.2
    container_name: logstash-container
    volumes:
      - ./logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf:ro,Z
    depends_on:
      rabbitmq:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - "XPACK_MONITORING_ENABLED=false"

  elasticsearch:
    image: elasticsearch:8.10.2
    container_name: elasticsearch-container
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "9200:9200"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9200"]
      interval: 10s
      timeout: 5s
      retries: 5

  grafana:
    image: grafana/grafana:10.1.0
    container_name: grafana-container
    ports:
      - "3000:3000"
    depends_on:
      elasticsearch:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./grafana/datasource.yml:/etc/grafana/provisioning/datasources/datasource.yml:Z
      - ./grafana/provisioning/dashboards/:/etc/grafana/provisioning/dashboards/:Z
